@font-face{
  font-family: water;
  src: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfsrxQIOLD4mlACBYGTtBLxXivYoAS7ULFFQ&s");
}

body {
  background-color: rgb(91, 117, 141);
  text-align: center;
  color: rgb(246, 246, 255);
  margin: auto;
  font-family: water;

  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌎</text></svg>") 16 0,auto; /*!emojicursor.app*/

}


h1{
  font-size: 30px;
}

#myCanvas {background-image: url("https://t4.ftcdn.net/jpg/06/16/53/01/360_F_616530106_WPxzjkhYF0qVYReUvLgqTQsibkQl5t9O.jpg");
  border-radius: 300px;
  border: 5px solid white;
}



